@model App.ViewModels.MovieDetailsViewModel
@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Movie.Name</h1>

<ul>
    <li>Genre: @Model.Movie.Genre.GenreName</li>
    <li>Release Date: @Model.Movie.ReleaseDate</li>
    <li>Date Added: @Model.Movie.DateAdded</li>
    <li>Number in Stock: @Model.Movie.Stock</li>
</ul>

